h1{
    color: burlywood;
    font-size: 30px;
    text-decoration: dotted;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
}

h2{
    color: burlywood;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}

ul{
    color: black;
    text-align: right;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

