h1{
    color: burlywood;
    font-size: 30px;
    
    font-family: 'Times New Roman', Times, serif;
}

p li {
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}


